<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>JAVAFENG</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/plugin/fonts/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="container p-0">
    <div class="row p-0 m-0">
        <div class="col-12 p-3" id="content-main">
            <p class="list-item">
                内容：分类列表 [<a href="javascript:editatten()">编辑模式</a>] [<a href="/adminindex">管理首页</a>]
            </p>
            <p class="list-item">
               <hr />
            </p>
            {% if cates %}
                {% for cate in cates %}
                    <p class="list-item">
                        {{ forloop.counter0 }}.
                        <span class="details" style="display: none"> [<a href="/adminindex">编辑</a>] [<a href="/adminindex">删除</a>]</span>
                        <a href="#">{{ cate.name }}</a>
                    </p>
                {% endfor %}
            {% else %}
                <p class="list-item">
                    There is nothing!
                </p>
            {% endif %}
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.4.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script>
    window.onload = function () {
        changeDivHeight();
    }
    window.onresize = function () {
        changeDivHeight();
    }

    function changeDivHeight() {
        var h = document.documentElement.clientHeight;//获取页面可见高度
        document.getElementById("content-main").style.height = h + "px";//掐头去尾，减去100px
    }
            function editatten() {
        $(".details").fadeToggle(100)
    }
</script>
</body>
</html>