<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>JAVAFENG</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/style.css">
{#    <link rel="stylesheet" href="/static/css/prism.css">#}
    <link rel="stylesheet" href="/static/plugin/fonts/font-awesome/css/font-awesome.min.css">
</head>
<body>
<form action="/mail" method="post">
    <input type="text" name="content" placeholder="输入邮件内容">
    <input type="text" name="mail" placeholder="输入邮箱">
    <input type="submit" value="发送">
</form>
</body>
</html>